---
layout: base
---
<article class="post about">

  <div class="about-header">
    {%- if site.photo -%}
      <img class="profile-photo" src="{{ site.photo | relative_url }}" alt="Photo of {{ site.author.name | escape }}">
    {%- endif -%}
    <div>
      <h1 class="post-title">{{ site.author.name | default: site.title | escape }}</h1>
      {%- if site.author.affiliation -%}
        <p class="affiliation">{{ site.author.affiliation | escape }}</p>
      {%- endif -%}
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
